.table-list-primary {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-list-primary-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
