html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.message {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: content-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.341);
}

.message-card {
  width: 500px;
  margin: 100px auto;
  text-align: center;
  background-color: white;
  padding: 32px;
  border-radius: 32px;
}

.container {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  padding: 32px;
  background-color: rgb(227, 228, 229);
  position: relative;
}

.container-1 {
  padding: 40px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.container-center {
  height: 100%;
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  align-items: center;
}

.flex-column-start {
  align-items: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row-center {
  justify-content: center;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: 1fr 3fr;
}

.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}
.gap-24 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}

.title-primary {
  /* text-align: center; */
  color: #7b818a;
  /* margin-bottom: 20px; */
}

.sidebar-primary {
  /* max-width: 300px; */
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar-primary-item {
  cursor: pointer;
}
