<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin dashboard</title>

    {%include 'styles_include.html' %}
  </head>
  <body>
    <main class="grid grid-col-2">
      {% include 'sidebar_admin.html' %}
      <content class="container content-primary">
        <form id="add-user-form" class="form-primary">
          <h3 class="title-primary">Add new user</h3>
          <div class="input-field">
            <label for="vehicle-id"> First name</label><br />
            <input
              class="input-primary"
              id="first-name-input"
              name="first-name"
              type="text"
              placeholder="First name"
            /><br />
          </div>

          <div class="input-field">
            <label for="vehicle-id"> Last name </label><br />
            <input
              class="input-primary"
              id="last-name-input"
              name="last-name"
              type="text"
              placeholder="Last name"
            /><br />
          </div>
          <div class="input-field">
            <label for="email"> Email</label><br />
            <input
              class="input-primary"
              id="email-input"
              name="email"
              type="text"
              placeholder="Email"
            /><br />
          </div>

          <button type="submit" class="button-primary">Register user</button>
        </form>

        <div id="users-list" class="table-list-primary">
          <div class="table-list-primary-item">
            <div class=""><b>ID</b></div>
            <div class=""><b>First name</b></div>
            <div class=""><b>Last name</b></div>
            <div class=""><b>Username</b></div>
            <div class=""><b>Email</b></div>
          </div>
          {% block content %} {% for user in users %}
          <div class="table-list-primary-item">
            <div>{{ user.id }}</div>
            <div>{{ user.first_name }}</div>
            <div>{{ user.last_name }}</div>
            <div>{{ user.username }}</div>
            <div>{{ user.email }}</div>
            <div class="flex-row flex-row-center gap-8">
              <button class="button-primary">Edit</button
              ><button class="button-primary">Delete</button>
            </div>
          </div>
          {% endfor %}{% endblock %}
        </div></content
      >
    </main>
    <script src="/static/scripts/jquery-3.7.1.min.js"></script>
    <script src="/static/scripts/adminMain.js"></script>
  </body>
</html>
