<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="/static/css/buttons.css" />
    <link rel="stylesheet" href="/static/css/forms.css" />
    <link rel="stylesheet" href="/static/css/inputs.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>

  <body>
    <form class="form-primary" action="auth/login/">
      <!-- {% csrf_token %} -->
      <div class="input-field">
        <label for="email"> Email</label><br />
        <input
          class="input-primary"
          id="email"
          name="email"
          type="text"
          placeholder="Email"
        /><br />
      </div>
      <div class="input-field">
        <label for="password">Password</label><br />
        <input
          class="input-primary"
          id="password"
          name="password"
          type="password"
          placeholder="Password"
        /><br />
      </div>
      <button type="submit" class="button-primary">Login</button>
    </form>
  </body>
</html>
