<sidebar class="sidebar-primary flex-column flex-column-start gap-16">
  <h3>Hello, {{user.first_name}}</h3>
  <div id="add_user" class="sidebar-primary-item">Register user</div>
  <div id="users" class="sidebar-primary-item">Users</div>
  <div id="vehicles" class="sidebar-primary-item">Vehicles</div>
  <div id="add_vehicle" class="sidebar-primary-item">Register vehicle</div>

  <script src="/static/scripts/jquery-3.7.1.min.js"></script>
  <script src="/static/scripts/sidebar.js"></script>
</sidebar>
